<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All The Pokemons</title>
</head>
<body>
    <h1>Log in to our Pokemon app here!</h1>

    <a href="/">Head back to the homepage.</a>

    <form action="/api/user/logInUser" method="post">
        <div>
            <label for="username">Username:</label>
            <input
                type="text"
                name="username"
                id="username"
                placeholder="your username"
            />
        </div>

        <div>
            <label for="password">Password:</label>
            <input
                type="text"
                name="password"
                id="password"
                placeholder="your password"
            />
        </div>
    
        <button type="submit">Log In</button>
    </form>
</body>
</html>