<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the Pokemon!</title>
</head>
<body>
    <h1>Welcome to our Pokemon App!</h1>
    <a href="/">Head back to the home page</a>
    <form action="/api/user/createUser" method="post">
        <div>
            <label for="username">Username:</label>
            <input
                type="text"
                name="username"
                id="username"
                placeholder="your new username here"
            />
        </div>

        <div>
            <label for="password">Password:</label>
            <input
                type="text"
                name="password"
                id="password"
                placeholder="your new password here"
            />
        </div>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>