<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All The Pokemons!</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    
    <% if (pokeNames.length) { %>
        <h3>Here are your favorite pokemon: </h3>
    <% } else { %>
        <h4>Favorite some pokemon and they'll show up here!</h4>
    <% } %>
    <ul>
        <% pokeNames.forEach((pokemon) => { %>
            <li>
                <a href="/oneMon/<%= pokemon %>"><%= pokemon %></a>
            </li>
        <% }) %>
    </ul>
    <a href="/logout">Log out.</a>
</body>
</html>